@{
    ViewData["Title"] = "Лабораторна робота ІСтаТП 2023. Магазин одягу" ;
}

<h1>Вітаємо на сайті магазину "SHOP-Q"</h1>

@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстрація</a>
}